<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Reboli Anthony</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="css/base.css">  
   <link rel="stylesheet" href="css/main.css">
   <link rel="stylesheet" href="css/vendor.css">     

   <!-- script
   ================================================== -->   
	<script src="js/modernizr.js"></script>
	<script src="js/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="favicon.png">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header>   	
   	<div class="row">

   		<div class="top-bar">
   			<a class="menu-toggle" href="#"><span>Menu</span></a>

	   		<div class="logo">
		         <a href="index.html">Reboli Anthony</a>
		      </div>		      

		   	<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
						<li><a class="smoothscroll"  href="#about" title="">About</a></li>
						<li><a class="smoothscroll"  href="#resume" title="">Resume</a></li>
						<li><a class="smoothscroll"  href="#portfolio" title="">Portfolio</a></li>
						<li><a class="smoothscroll"  href="#services" title="">Services</a></li>					
						<li><a class="smoothscroll"  href="#contact" title="">Contact</a></li>	
						<li><a href="styles.html" title="">Style Demo</a></li>				
					</ul>
				</nav>    		
   		</div> <!-- /top-bar --> 
   		
   	</div> <!-- /row --> 		
   </header> <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro">   

   	<div class="intro-overlay"></div>	

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

	   			<h5>Bonjour</h5>
	   			<h1>Je suis Reboli Anthony.</h1>

	   			<p class="intro-position">
	   				<span>back-end Developer</span>
	   				<span>recherche Alternance</span> 
	   			</p>

	   			<a class="button stroke smoothscroll" href="#about" title="">decouvrer moi</a>

	   		</div>  
   			
   		</div>   		 		
   	</div> <!-- /intro-content --> 

   	<ul class="intro-social">        
         <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      </ul> <!-- /intro-social -->      	

   </section> <!-- /intro -->


   <!-- about section
   ================================================== -->
   <section id="about">  

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>personel</h5>
   			<h1>Laisse moi me présenter.</h1>

   			<div class="intro-info">

   				<img src="images/moi.jpg" alt="Profile Picture">

   				<p class="lead">Je suis un jeune apprenant de LAPLATEFORME, je suis développeur junior.En reconversion dans le web ancien interimaire
   					j'ai voulu changer de domaine pour decouvrir un autre univer.

</p>
   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row about-content">

   		<div class="col-six tab-full">

   			<h3>Profil</h3>
   			<p>J'aime apprendre , je suis a l'écoute , polyvalent et j'ai pas peur de nouveau defit</p>

   			<ul class="info-list">
   				<li>
   					<strong>nom et prenom :</strong>
   					<span>Reboli Anthony</span>
   				</li>
   				<li>
   					<strong>anniversaire:</strong>
   					<span>17 septembre 1997</span>
   				</li>
   				<li>
   					<strong>travail:</strong>
   					<span>etudiant, back-end Developer</span>
   				</li>

   				<li>
   					<strong>Email:</strong>
   					<span>anthony.reboli@laplateforme.io</span>
   				</li>

   			</ul> <!-- /info-list -->

   		</div>

   		<div class="col-six tab-full">

   			<h3>Compétences</h3>
   			<p>Voici quelques compétences que j'ai travailler la liste va s'agrandire avec le temp .</p>

				<ul class="skill-bars">
				   <li>
				   	<div class="progress percent90"><span>90%</span></div>
				   	<strong>HTML5</strong>
				   </li>
				   <li>
				   	<div class="progress percent85"><span>85%</span></div>
				   	<strong>CSS3</strong>
				   </li>
				   <li>
				   	<div class="progress percent70"><span>60%</span></div>
				   	<strong>JQuery</strong>
				   </li>
				   <li>
				   	<div class="progress percent95"><span>95%</span></div>
				   	<strong>PHP</strong>
				   </li>
				   <li>

				   	<div class="progress percent75"><span>35%</span></div>
				   	<strong>Symfony</strong>
				   </li>
      
				</ul> <!-- /skill-bars -->		

   		</div>

   	</div>

   	<div class="row button-section">
   		<div class="col-twelve">
   			<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Contacte Moi</a>
   			<a href="#" title="Download CV" class="button button-primary">Telecharger CV</a>
   		</div>   		
   	</div>

   </section> <!-- /process-->    


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Resumé</h5>
   			<h1>Plus d'information sur moi</h1>

   			<p class="lead">J'ai effectuer plusieurs travail en interim avant d'etre dans le web. J'ai etait Monteur en industrie / élingeur / Netoyeur industrielle / Garde trou d'homme et plus encore. Puis j'ai trouver ma formation LAPLATEFORME qui ma permit d'apprendre le developpement web.</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Expérience professionnelle</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Web Developper</h3>
	   					<p>septembre 2019 - Actuel</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>LAPLATEFORME</h4>
	   					<p>Est une formation qui ma permit d'apprendre les languages que j'ai actuelement et d'avoir le titre RNCP 5</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Monteur industrielle</h3>
	   					<p>janvier 2018 - septembre 2019</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Proman</h4>
	   					<p>J'ai paser plusieur formation pour avoir le GIES 1 / ATEX 0 / ARI qui me permet de travailler dans les zones dangeureuse pour effectuer le metier de monteur ou nettoyeur industrielle</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Proman</h3>
	   					<p>Janvier 2017 - Janvier 2018</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Main d'oeuvre</h4>
	   					<p>J'effectuer des taches en tous genres pour aider les ouvriers dans constructions / nettoyage / mise en rayon / peinture / déménagements </p>
	   				</div>

	   			</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
   	
  
		
	</section> <!-- /features -->


	<!-- Portfolio Section
   ================================================== -->
	<section id="portfolio">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Portfolio</h5>
   			<h1>Découvrez certains de mes travaux.</h1>

   			<p class="lead">Les projets realisé sont dans le but d'apprentisage pour mon evolution de ma formation</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row portfolio-content">

   		<div class="col-twelve">

   			<!-- portfolio-wrapper -->
	         <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

	         	<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/portfolio/cira.PNG" alt="ciara">
	                  <a href="#modal-01" class="overlay">	                  	           
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
		     					       <h3 class="folio-title">Projet pro Ciara</h3>	     					    
		     					    	 <span class="folio-types">
		     					       	  Salon de coiffure
		     					       </span>
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>	               
	        		</div> <!-- /folio-item -->

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/portfolio/camping2.PNG" alt="camping">
	               	<a href="#modal-02" class="overlay">              		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Camping</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Reservation Camping
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/portfolio/livreor.PNG"alt="livreor">
	                  <a href="#modal-03" class="overlay">             		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Horreur</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Livre d'or
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/portfolio/click.png" alt="clicker">
	                  <a href="#modal-04" class="overlay">                  	                 
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Jeux cliker</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Full js / locale storage
		     					      </span>		     		
		     					   </div>  	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->     

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/portfolio/forum.PNG" alt="forum">
	                  <a href="#modal-05" class="overlay">             		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Forum</h3>	     					    
		     					    	<span class="folio-types">
		     					       	 Forum en PHP / SQL
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="https://specetoile.ch/images/images/2019/04/27/Noir.md.png" alt="forum">
	                  <a href="#modal-05" class="overlay">             		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Prochainement</h3>	     					    
		     					    	<span class="folio-types">
		     					       	 Les projets sont en création.
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	           	</div>

	          

	            <!-- modal popups - begin
	            ============================================================= -->
	            <div id="modal-01" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/portfolio/modals/cira2.PNG" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Ciaracut</h4>		      
					      <p>Un projet pro pour un salon de coiffure qui à une reservation / un livreor / un systeme de fidelité / une boutique de prestation.</p>

					      <div class="categories">PHP/SQL</div>			               
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Detail</a>
					      <a href="#" class="popup-modal-dismiss">Fermer</a>
			         </div>		      

				   </div> <!-- /modal-01 -->

				   <div id="modal-02" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/portfolio/modals/camping3.PNG" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Camping</h4>		      
					      <p>Le projet est pour gerer un camping avec les emplacements et les reservations.</p>

					      <div class="categories">PHP/SQL</div>			               
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Fermer</a>
			         </div>		      

				   </div> <!-- /modal-02 -->

				   <div id="modal-03" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/portfolio/modals/livreor2.PNG" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>horreur</h4>		      
					      <p>Bienvenue dans un site pas commun quelques video d'horreur , quelques animations ce projet ma permit d'apprendre les animations</p>

					      <div class="categories">PHP/SQL/CSS/Animation</div>			               
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">fermer</a>
			         </div>		      

				   </div> <!-- /modal-03 -->

				   <div id="modal-04" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/portfolio/modals/click2.PNG" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Clicker</h4>		      
					      <p>J'ai créer un jeux clicker en full JS / Locale storage. Dans le jeux on doit evoluer pour decouvrir les nouvelle console et debloquer des bonus pour ogmenter les points.. à découvrir.</p>

					      <div class="categories">JS/LocaleStorage</div>			               
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-04 -->

				   <div id="modal-05" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="https://www.actimage.com/wp-content/uploads/2018/07/bg-dev-web-01-1.jpg" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>suivant</h4>		      
					      <p>Des projets arrive très vite je suis toujours a la recherche de defit suplémentaire</p>

					      <div class="categories">Recherche</div>			               
					   </div>

			         <div class="link-box">
			            <a href="http://www.behance.net">Details</a>
					      <a href="#" class="popup-modal-dismiss">fermer</a>
			         </div>		      

				   </div> <!-- /modal-05 -->



				   <!-- modal popups - end
	            ============================================================= -->

	         </div> <!-- /portfolio-wrapper --> 

   		</div>  <!-- /twelve -->   

   	</div> <!-- /portfolio-content --> 
		
	</section> <!-- /portfolio --> 


	<!-- CTA Section
   ================================================== -->
	<section id="cta" class="grey-section">

   	<div class="row cta-content">

   		<div class="col-twelve section-ads">  

	     		<h2 class="h01"><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Pour me suivre je vous propose mon github.</a></h2>
				<div class="action">
			      <a  target="_blank" class="button button-primary large" href="https://github.com/anthony-reboli">Github</a>
		      </div>		     	

   		</div>

   	</div> <!-- /cta-content -->

   </section> <!-- /cta --> 

	
	<!-- services Section
   ================================================== -->
	<section id="services">

		<div class="overlay"></div>

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Services</h5>
   			<h1>Que puis-je faire pour vous?</h1>

   			<p class="lead">Je suis à la recherche d'une alternance. Je peux vous venir en soutien pour pouvoir evoluer avec vous.</p>

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row services-content">

   		<div id="owl-slider" class="owl-carousel services-list">

	      	<div class="service">	

	      		<span class="icon"><i class="icon-earth"></i></span>            

	            <div class="service-content">	

	            	 <h3>Création de bdd</h3>

		            <p class="desc">Je peux faire une maquette bdd et créer une bdd via symfony.
	         		</p>
	         		
	         	</div> 	         	 

				</div> <!-- /service -->

				<div class="service">	

					<span class="icon"><i class="icon-window"></i></span>                          

	            <div class="service-content">	

	            	<h3>Back-end</h3>  

		            <p class="desc">Je peux ajouter ou modifier des fonctionalités , trouver des éventuels bug ou créer des sites et aplications.
	         		</p>

	            </div>	                          

			   </div> <!-- /service -->
			   <div class="service">

			   	<span class="icon"><i class="icon-chat"></i></span>	   	           

	            <div class="service-content">

	            	 <h3>Relationel</h3>

		            <p class="desc">Je suis a l'écoute du client. Ma priorité la satisfaction du client.
	        			</p> 
	        			
	            </div>	               

			   </div> <!-- /service -->

				

			   </div> <!-- /service -->

	      </div> <!-- /services-list -->
   		
   	</div> <!-- /services-content -->
		
	</section> <!-- /services -->	


	<!-- stats Section
   ================================================== -->
	<section id="stats" class="count-up">

		<div class="row">
			<div class="col-twelve">

				<div class="block-1-6 block-s-1-3 block-tab-1-2 block-mob-full stats-list">

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-pencil-ruler"></i>
						</div>

						<h3 class="stat-count">
							10
						</h3>

						<h5 class="stat-title">
							Projet completé
						</h5>

					</div> <!-- /stat -->					

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-users"></i>
						</div>

						<h3 class="stat-count">
							2
						</h3>

						<h5 class="stat-title">
							Clients heureux
						</h5>

					</div> <!-- /stat -->

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-badge"></i>
						</div>

						<h3 class="stat-count">
							1
						</h3>

						<h5 class="stat-title">
							Titre obtenu
						</h5>

					</div> <!-- /stat -->									

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-light-bulb"></i>
						</div>

						<h3 class="stat-count">
							10
						</h3>

						<h5 class="stat-title">
							Folles idées
						</h5>

					</div> <!-- /stat -->

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-cup"></i>
						</div>

						<h3 class="stat-count">
							500
						</h3>

						<h5 class="stat-title">
							Café
						</h5>

					</div> <!-- /stat -->

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-clock"></i>
						</div>

						<h3 class="stat-count">
							365
						</h3>

						<h5 class="stat-title">
							Jours
						</h5>

					</div> <!-- /stat -->

				</div> <!-- /stats-list -->

			</div> <!-- /twelve -->
		</div> <!-- /row -->

	</section> <!-- /stats -->

	
   <!-- contact
   ================================================== -->
	<section id="contact">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Contact</h5>
   			<h1>J'aimerais avoir de vos nouvelles.</h1>

   			<p class="lead">Pour tous projets ou avis constructif je serais ravis de lire vos messages</p>

   		</div> 
   	</div> <!-- /section-intro -->

   	

   	<div class="row contact-info">

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-pin"></i>
   			</div>

   			<h5>Ou me trouver</h5>

   			<p>
            Marseille
            </p>

   		</div>

   		<div class="col-four tab-full collapse">

   			<div class="icon">
   				<i class="icon-mail"></i>
   			</div>

   			<h5>Mon Email</h5>

   			<p>anthony.reboli@laplateforme.io</p>

   		</div>

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-phone"></i>
   			</div>

   			<h5>Telephone</h5>

   			<p>	Mobile: 06-44-03-57-57</p>

   		</div>
   		
   	</div> <!-- /contact-info -->
		
	</section> <!-- /contact -->


   <!-- footer
   ================================================== -->

   <footer>
     	<div class="row">

     		<div class="col-six tab-full pull-right social">

     			<ul class="footer-social">        

			   </ul> 
	      		
	      </div>

      	<div class="col-six tab-full">
	      	<div class="copyright">
		        	<span>© Copyright Reboli Anthony.</span> 
		        	         	
		         </div>		                  
	      	</div>

	      	<div id="go-top">
		         <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		      </div>

      	</div> <!-- /row -->     	
   </footer>  


   <!-- Java Script
   ================================================== --> 
   <script src="js/jquery-2.1.3.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/main.js"></script>

</body>

</html>